{% extends "base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h2 class="text-align-center"><strong>Nuestra Historia</strong></h2>
		<p class="text-align-center">Había una vez en el bosque un viejo roble. Nosotros velamos de día, dormimos de noche y entonces soñamos. Para el árbol es diferente, pues vela durante tres estaciones, y solo duerme en invierno.</p>
		<p class="text-align-center">Aquel insecto que apenas vive veinticuatro horas y que llamamos efímera había estado bailando, viviendo, flotando y disfrutando en torno a la copa del roble. Después, el pobre animalito descansaba sobre una de las verdes hojas de roble, y entonces el árbol le decía siempre:</p>
		<p class="text-align-center">Con tu tio y con tu tía irás a Bel air</p>
	</div>
</div>
{% endblock %}