{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenidos | {{block.super}} {% endblock %}

{% block jumbotron %}
<div class="jumbotron">

<div class='row'>
	<div class=col-sm-6>
        <h1>Probar Django</h1>
        <p>El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja. 1234567890</p>
        <p>Lore ipsum blablabla..</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Únete &raquo;</a>
        </p>
	</div>
	<div class='col-sm-6' style='background-color: black;height:300px;'></div>
</div>
</div>
{% endblock %}


<!--<h1>Hola mundo</h1>-->
{{titulo}}<br/>
{{request.user}}
<hr/>
<br/>


{% block content %}
<div class="row">
	<div class="col-sm-3 col-xs-12 pull-right">
		<p class="lead text-align-center">{{ titulo }}</p>
		<form method="POST" action="">{% csrf_token %}
			{{el_form|crispy}}
		<input type="submit" value="Registrame"/>
		</form>
	</div>
	<div class='col-sm-3'>
		<p class="lead text-align-center">Imagínate el texto.</p>
	</div>
	<div class='col-sm-3'>
		<p class="lead text-align-center">Imagínate el texto.</p>
	</div>
	<div class='col-sm-3'>
		<p class="lead text-align-center">Imagínate el texto.</p>
	</div>
</div>

<hr/>
{% endblock %}